.colorbutton1{
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
    background-color: inherit;
}

.colorbutton1:hover{
  color: #fff;
  background-color: #31a9e1;
}

.colorbutton2{
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #64d870
  ;
  background-color: inherit;
  font-weight: 600;
}

.colorbutton2:hover{
color: #fff;
  background-color: #64d870;
}