<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a><span>Lava Autos</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active">Inicio</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/servicios']">Servicios</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/historial']">Historial</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/perfil']">{{usuario}}</a></li>
                <!-- <li class="nav-item">
                    <button class="colorbutton1" [routerLink]="['/login']">Iniciar</button>
                </li>
                <li class="nav-item">
                    <button class="colorbutton2" [routerLink]="['/registro']">Registrarse</button>
                </li> -->
            </ul>
            <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<div class="section-title pad offset-1">
    <br>
    <h2>Bienvenido</h2>
    <p>{{usuario}}</p>
</div>

<main id="main">


    <!-- ======= About Section ======= -->
    <section id="info" class="about offset-1">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
                    data-aos="fade-right">
                    <a class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center"
                    data-aos="fade-left">
                    <h3>¡Dale a tu auto el mejor mantenimiento y Autolavado!</h3>
                    <p>Cepillamos, aspiramos y lavamos a conciencia, asientos y alfombras. Limpiamos a detalle todas las
                        piezas EXPUESTAS en la cabina.</p>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a target="_blank"
                                href="https://www.google.com.mx/maps/search/lava+autos/@17.0480508,-96.7198236,15z">Busca
                                el Lava Autos más cercano</a></h4>
                        <p class="description">Contamos con varios establecimientos</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a>Costos</a></h4>
                        <p class="description">Los precios son los mejores del mercado</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a [routerLink]="['/load']">Ubica tu auto</a></h4>
                        <p class="description">Vigila el tiempo y el punto de lavado de tu Auto</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->