<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a><span>Lava Autos</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" [routerLink]="['/welcome']">Inicio</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/servicios']">Servicios</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/historial']">Historial</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/perfil']">{{usuario}}</a></li>
                <!-- <li class="nav-item">
                    <button class="colorbutton1" [routerLink]="['/login']">Iniciar</button>
                </li>
                <li class="nav-item">
                    <button class="colorbutton2" [routerLink]="['/registro']">Registrarse</button>
                </li> -->
            </ul>
            <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->