<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a><span>Lava Autos</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" [routerLink]="['/welcome']">Inicio</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/servicios']">Servicios</a></li>
                <li><a class="nav-link scrollto active">Historial</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/perfil']">{{usuario}}</a></li>
                <!-- <li class="nav-item">
                    <button class="colorbutton1" [routerLink]="['/login']">Iniciar</button>
                </li>
                <li class="nav-item">
                    <button class="colorbutton2" [routerLink]="['/registro']">Registrarse</button>
                </li> -->
            </ul>
            <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<div class="container-fluid pad" align="center">
    <br>
    <div class="col-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <h1>Historial de Autos</h1>
                    <div align="center">
                        <br>

                        <div class="card" style="width: 15rem;" *ngFor="let car of auto">
                            <img src="https://static.retail.autofact.cl/blog/c_img_740x370.ea3xf91k2alsmup.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <p>
                                   <strong>Modelo: </strong>{{car.modelo}}
                                </p>
                                <p>
                                    <strong>Placa: </strong>{{car.placa}}
                                </p>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-danger" (click)="eliminar(car.idAuto)">Eliminar</button>
                                <button type="submit" class="btn btn-warning" (click)="editar(car.idAuto)">Editar</button>
                            </div>
                        </div>

                        <br><hr>
                        <button class="btn btn-success w-25" type="submit" [routerLink]="['/crudAuto']">Nuevo auto</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h1>Historial de visita</h1>
                    <div align="center">
                        <br>
                        <div class="card" style="width: 15rem;">
                            <div class="card-body">
                                <p class="card-text">Lava Autos: <strong>Quiane Autos</strong></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Fecha: <strong>10/02/2022</strong></li>
                                <li class="list-group-item">Ubicación: <strong>Quiane</strong></li>
                                <li class="list-group-item">Tiempo: <strong>12</strong> minutos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>