<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a><span>Lava Autos</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" [routerLink]="['/welcome']">Inicio</a></li>
                <li><a class="nav-link scrollto active">Servicios</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/historial']">Historial</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/perfil']">{{usuario}}</a></li>
                <!-- <li class="nav-item">
                    <button class="colorbutton1" [routerLink]="['/login']">Iniciar</button>
                </li>
                <li class="nav-item">
                    <button class="colorbutton2" [routerLink]="['/registro']">Registrarse</button>
                </li> -->
            </ul>
            <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Servicios</h2>
            <p>Varios establecimientos y los siguientes servicios</p>
        </div>

        <div class="row" data-aos="fade-left">
            <div class="col-lg-3 col-md-4" *ngFor="let service of servicios">
                <div (click)="servs(service.idServicio)" class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                    <i class="ri-paint-brush-line" style="color: #000;"></i>
                    <h3><a (click)="servs(service.idServicio)">{{service.nombre}}
                        </a></h3>
                </div><br>
            </div>

            
        </div>

    </div>
</section><!-- End Features Section -->