<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a><span>Lava Autos</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" [routerLink]="['/welcome']">Inicio</a></li>
                <li><a class="nav-link scrollto active">Servicios</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/historial']">Historial</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/perfil']">{{usuario}}</a></li>
                <!-- <li class="nav-item">
                    <button class="colorbutton1" [routerLink]="['/login']">Iniciar</button>
                </li>
                <li class="nav-item">
                    <button class="colorbutton2" [routerLink]="['/registro']">Registrarse</button>
                </li> -->
            </ul>
            <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Servicios</h2>
            <p>Varios establecimientos y los siguientes servicios</p>
        </div>

        <div class="row" data-aos="fade-left">
            <div class="col-lg-3 col-md-4">
                <div [routerLink]="['/load']" class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                    <i class="ri-store-line" style="color: #ffbb2c;"></i>
                    <h3><a [routerLink]="['/servicio']">Lavado estándar
                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                    <h3><a>Lavado de caja de Pick Up </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
                    <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                    <h3><a>Lavado de panel sin asientos

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                    <h3><a>Lavado de panel con asientos

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
                    <i class="ri-database-2-line" style="color: #47aeff;"></i>
                    <h3><a>Desinfección de Interiores</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                    <h3><a>Encerado auto con lavado y aspirado

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3><a>Teflon auto con lavado y aspirado

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                    <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                    <h3><a>Restauración de Faros

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
                    <i class="ri-anchor-line" style="color: #b2904f;"></i>
                    <h3><a>Lavado de Motor

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                    <i class="ri-disc-line" style="color: #b20969;"></i>
                    <h3><a>Limpieza de Rines a Profundidad

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
                    <i class="ri-base-station-line" style="color: #ff5828;"></i>
                    <h3><a>Eliminación de Olores Ozono

                        </a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
                    <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                    <h3><a>Acondicionador en Vistas

                        </a></h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->